## (1) DICTENIORY

#### DICTIONARY (CLEAR METHOD) Clear all attibutes using by clear method

In [102]:
phone = {
    "company" : "samsung",
    "model" : "note 20 ",
    "lounch_date" : 2018}

In [103]:
print (phone)

{'company': 'samsung', 'model': 'note 20 ', 'lounch_date': 2018}

In [104]:
phone.clear()

In [105]:
print(phone)

{}

#### DICTIONARY (COPY METHOD) Copy all the word using copy method

In [106]:
news= {
    "news_channel" : "ajtak",
    "news_title" : " world cup ",
    "win_date" : 2024}

In [107]:
print (news)

{'news_channel': 'ajtak', 'news_title': ' world cup ', 'win_date': 2024}

In [108]:
news.clear()

In [109]:
print(news)

{}

#### DICTIONARY (FROMKEYS METHOD)

In [110]:
brand = ('tata','mahinda','honda')
model = ('safari','scorpio')

ans = dict.fromkeys(brand,model)

In [111]:
print (ans)

{'tata': ('safari', 'scorpio'), 'mahinda': ('safari', 'scorpio'), 'honda': ('safari', 'scorpio')}

#### DICTIONARY (GET METHOD)

In [112]:
car = {
        "brand" : "tata",
        "model" : "harrier",
        "year" : 2021,
        "price" : 2500000
    }

In [113]:
good_xuv = car.get("model")

In [114]:
print (good_xuv)

harrier

#### DICTIONARY (ITEMS METHOD)

In [115]:
car ={"company" : "mahindra",
 "model" : "scorpio",
 "year" : 2010,
 "price" : 2000000}

In [116]:
x = car.items()

In [117]:
print (x)

dict_items([('company', 'mahindra'), ('model', 'scorpio'), ('year', 2010), ('price', 2000000)])

#### DICTIONARY (KEYS METHOD)

In [118]:
super_car ={"company" : "ford",
 "model" : "mustang",
 "year" : 1965,
 "price" : 6500000}

In [119]:
x = super_car.keys()

In [120]:
print(x)

dict_keys(['company', 'model', 'year', 'price'])

#### DICTIONARY (POP METHOD)

In [121]:
smart_watch = {
    "brand" : "firebolt",
    "model" : "endeavour",
    "price" : 3500}

In [122]:
smart_watch.pop("brand")

'firebolt'

In [123]:
print (smart_watch)

{'model': 'endeavour', 'price': 3500}

#### DICTIONARY (POPITEM METHOD)

In [124]:
laptop ={
    "company" : "dell",
    "model" : "inspire",
    "price" : 95000
}

In [125]:
laptop.popitem()

('price', 95000)

In [126]:
print (laptop)

{'company': 'dell', 'model': 'inspire'}

#### DICTIONARY (SETDEFOULT METHOD)

In [127]:
laptop_x ={
    "company" : "dell",
    "model" : "inspire",
    "price" : 95000
}

In [128]:
changes = laptop_x.setdefault("model","latitude")

In [129]:
print (changes)

inspire

In [130]:
print (laptop_x)

{'company': 'dell', 'model': 'inspire', 'price': 95000}

#### DICTIONARY (UPDATE METHOD)

In [131]:
bike ={
    "company" : "honda",
    "model" : "hornet",
    "price" : 185000,
    "year" :2017
}

In [132]:
bike.update ({"color" : "red"})

In [133]:
print (bike)

{'company': 'honda', 'model': 'hornet', 'price': 185000, 'year': 2017, 'color': 'red'}

#### DICTIONARY (VALUES METHOD)

In [135]:
television ={
    "company" : "sony",
    "model" : "bravia",
    "price" : 85000,
    "year" :2015}

In [138]:
x = television.values()

In [139]:
print (x)

dict_values(['sony', 'bravia', 85000, 2015])

In [140]:
print (television)

{'company': 'sony', 'model': 'bravia', 'price': 85000, 'year': 2015}

## (2) TUPLE

#### TUPLE (COUNT METHOD)

In [149]:
tuple = (3,5,8,7,5,6,7,3,4,7,8,9,8,5,5,7)

In [150]:
number = tuple.count(5)

In [151]:
print (number)

4

In [160]:
word = (3,5,8,7,5,6,7,3,4,7,8,9,7,8,5,5,7)

In [161]:
number1 = word.count(7)

In [162]:
print(number1)

5

#### TUPLE (INDEX METHOD)

In [172]:
tuple = (0,1,1,2,3,4,5,6,7,8,9,10)

In [173]:
number= tuple.index(7)

In [174]:
print (number)

8